<!DOCTYPE html>
<html>
<head>
  <title>Freebees</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src='./bower_components/angular-ui-router/release/angular-ui-router.js'></script>

  <script src="/app/app.js"></script>
  <script src='/app/GoogleMapsInitializer.js'></script>
  <script src="/app/controller.js"></script>

  <script src="/app/resizer.js"></script>
  <script src="/bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
  <script src="/bower_components/blueimp-load-image/js/load-image.all.min.js"></script>
  <script src="/bower_components/js-marker-clusterer/src/markerclusterer_compiled.js"></script>

  <script src="/bower_components/ng-flow/dist/ng-flow-standalone.js"></script>
</head>

<body id="#" ng-app="myApp" ng-controller="FormController" flow-prevent-drop>
  <!--script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmI2fzx6riKLbgeFlIBvbaXrttPrZrqVI&libraries=places&callback=googleAPISetup"></script-->
  <nav class="navbar-fixed">
    <div id="headerSection" class="container-fluid">
      <ul>
        <li><img id="beeIcon" src="bee1resize.png"></li>
        <li><a href='#' id="logoTitle">Freebeez</a></li>
        <li>
          <p>Find free stuff around you!
            <p>
        </li>
        <li class="rightFloat"><a ui-sref="map" ui-sref-opts="{reload: true}" class="anchor">Find an item</a></li>
        <li class="rightFloat"><a ui-sref="give" ui-sref-opts="{reload: true}" class="anchor">Give an item</a></li>

      </ul>
      <div id="searchInput">
        <form novalidate>
          <input id="searchBox" placeholder="Search for an item" type="text" ng-model="search.input">
          <button class="yellowButton" id="searchBtn" ng-click="filterMap()" type="submit">Search</button>
        </form>
      </div>
     </div>
    </nav>

    <div ui-view="main" class="padded" >

    </div>

    <div id="footerSection">
      <div>Visit the <a target="_blank" href="https://github.com/FunFinder/Freebees">repo</a>!</div>
      <br>
        <a target="_blank" href="https://www.linkedin.com/in/nadineott"><span>Nadine Ott<img src="./nadinephoto.jpg"></span></a>
        <a target="_blank" href="https://www.linkedin.com/in/odekyc"><span>Kuan Ying Chao<img src="./elvaphoto.jpg"></span></a>
        <a target="_blank" href="https://www.linkedin.com/in/sorensenthomas"><span>Thomas Sorensen<img src="./thomasphoto.jpg"></span></a>
        <a target="_blank" href="https://ca.linkedin.com/in/jasoncheung1"><span>Jason Cheung<img src="./jasonphoto.jpg"></span></a>
        <br></br>
        <div id="bottomCopyright">
          &copy;2016
    </div>
  </div>
</body>

</html>
