<div id="map"></div>
<form>
	</br>
 	 Step 1 : Enter an Origin Location: <br>
    <input type="text" name="origin" placeholder="enter origin location" ng-model="user.location"></form>
    &nbsp&nbsp<button ng-click="ip()" type='button'>use current location</button><br>
    <br>
    
    <h4>Step 2 : Select a Marker</h4>
    </br>
    <button type="button" id="drivingdir" ng-click="drivingDir()">Driving Direction!</button>
    <button type="button" id="walkingdir" ng-click="walkingDir()">Walking Direction!</button>
    </br>
    </br>
</form>